*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}
.languages {
    margin-top: 10px;
}
.languages ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
.languages li {
    margin-right: 1em;
}
.links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
}
.links li {
    margin-right: 15px;
}

footer{
    text-align: center;
}

